ID=YOUR COMPANY API KEY
TPBName=YOUR COMPANY NAME
TPBAddr=YOUR COMPANY ADDRESS
TPBCity=YOUR COMPANY CITY
TPBState=YOUR COMPANY STATE
TPBZip=YOUR COMPANY ZIP CODE
TPBCountry=YOUR COMPANY COUNTRY
TPBAcct=YOUR COMPANY ACCOUNT